@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: #000;
	font-family: 'Oswald', 'Futura', sans-serif;
	margin: 0px;
	padding: 0px;
}

#login-page {
	margin: 0px auto 0px auto;
}

.logo img {
	display: block;
	margin: 0 auto;
}

#login-form {
	width: 33%;
	margin: 0 auto;
}

#sign-up-from-login-link {
	display: inline;
	float: right;
	padding-top: 10px;
	padding-right: 5px;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px 0px 23px 0px;
}

#sign-up-from-login-link:hover {
	color: #787878;
}

#login-submit {
	float: left;
	width: 33%;
}

h2 {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .3em;
	margin: 0px 0px 23px 0px;
}

h4 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .3em;
	margin: 0px 0px 23px 0px;
}

/* Form styles */
form {
	padding: 0px 60px 65px 60px;
}

label {
	color: #fff;
	display: block;
	margin: 10px 0px 10px 0px;
	font-size: 24px;
	text-transform: uppercase;
}

input[type='text'], input[type='password'], textarea {
	background-color: #999;
	color: #666;
	font-family: 'Oswald', 'Futura', sans-serif;
	font-size: 24px;
	width: 96%;
	padding: 4px 6px;
	border: 1px solid #999;
	border-radius: 8px;
	text-transform: uppercase;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
	border: 1px solid #fff;
	background-color: #fff;
	outline: none;
}

input[type='submit'], a.add {
	background-color: #484848;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 8px 10px;
	margin-top: 10px;
	float: right;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

input[type='submit']:hover, a.add:hover {
	background-color: #C0C0C0;
	color: #282828;
	cursor: pointer;
	box-shadow: none;
	position: relative;
	top: 1px;
}

#body #login-page {
	margin-top: 130px;
}

#buttons {
	height: 100px;
	width: 100px;
	margin: 0px auto;
}